
* {
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
  body {
    margin: 0px;
    /* font-family: 'segoe ui'; */
  }
  
  .nav {
    height: 78px;
    width: 100%;
    /* background-color: #1177ca; */
    background: linear-gradient(0deg, #160515, rgb(44, 43, 43));
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header {
    /* display: inline-block;
    font-size: 22px;
    color: #fff;
    font-weight: 550; */
    /* font-family: 'Orbitron', sans-serif !important; */
    margin-left: 10%;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;

    position: relative;
    left: -25%;
    top: 17%;
  }
  .nav > .nav-links > ul li a{
    /* display: block;
    padding: 0 8px;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none; */

        
        display: block;
        color: #fdfdfe;
        text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
            0px 0px 20px #b393d3;
        font-size: 20px;
        padding: 5px 10px;
        transition: 0.2s;
        text-decoration: none;
        font-family: 'Orbitron', sans-serif !important;
        /* font-family: cursive; */
        /* transition-delay: 0s; */
        /* border: 2px solid #ffd700; */
        /* -webkit-box-reflect: below 0px linear-gradient(transparent,#0008); */
    

  }
  .nav > .nav-links > ul{
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;
    
  }
  .nav > .nav-links > ul li{
    display: inline-block;
    /* background-color: #1177ca; */
    
    
  }
  nav > ul > li > a > .active , .nav > .nav-links > ul li:hover{
    color: #fff;
    background: #6e0dd0;
    box-shadow: 0 0 10px #751fcb,
        0 0 20px #6e0dd0,
        0 0 40px #6e0dd0,
        0 0 80px #6e0dd0,
        0 0 100px #6e0dd0;
  }
  
  .nav > #nav-check {
    display: none;
  }

 .nav .nav-links ul a.icon{
 margin-left: 80px;
 margin-right: 10px;
 }

 .nav .nav-links ul a i{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
 }

  
  @media (max-width:750px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background: linear-gradient(0deg, #160515, rgb(44, 43, 43));
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 78px;
      left: 0px;
    }
    .nav > .nav-links > ul li a {
      display: block;
      width: 100%;
    }

    /*   */


    
      .nav > .nav-links > ul li{
        display: block;
        margin-bottom: 12px;
        padding: 0;
        background-color: #301d302c;
         
      }
      .nav > .nav-links > ul li a{
          margin-left: 40%;
      }
      .nav .nav-links ul a.icon{
        margin-left: 33%;
      }

    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;

    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(50vh - 50px);
      overflow-y: auto;
      z-index: 1000;
    }
  }
  /***********************************************/
  /* @media screen and (min-width: 768px) {
    body { padding-top: 100px; }
} */
  .block {
    position: relative;
    /* margin: 1% auto 0; */
    /* width: ; */
    background: linear-gradient(0deg, #160515, rgb(44, 43, 43));
    /* background-image: linear-gradient(to right, #4d0599 60%, #241175 100%); */
}

.glow::before,
.glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #460f7c, #280a46, #3d1960, #491b6a, #842077, #6e0dd0, #4B0082, #0c4467, #833c79, #e817cc);
    /* #5c2173,#3a0f3d,#7135b5,#490c3b,
    #43216f,#4e1e5f,#ad0ced */
    /* #460f7c , #280a46 ,#3d1960,grey,#842077
    ,#6e0dd0,#4e0932, #0c4467 */
    background-size: 400%;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    z-index: -1;
    animation: animateglow 20s linear infinite;
}

@keyframes animateglow {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }

}

.glow::after {
    filter: blur(10px);
}