/* Header */
#large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
	/* filter: blur(5px); */
	background-image: url('../images/blue-purple-technology-circuit_73426-205\ \(1\).jpg');
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}

/*Thiran title*/



  
.large-header .main-title {
	font-family:  'Roboto', sans-serif;
	font-size: 70px;
	font-weight: 600;
	color: #fdfdfe;
	text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
	  0px 0px 20px #b393d3;
  }
